*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

nav {
    width: 68%;
    height: 46px;
    /* background-color: red; */
    margin: 30px auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

nav a {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    font-family: monospace;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white
}

nav a:hover {
    background-color: lightgray;
    color: black;
    cursor: grab;
}

.selecionada{
    background-color: lightgray;
    color: black;
    cursor: grab; 
    border: 3px solid white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
}